<ul>
  <li *ngFor="let l of languages | mysort:'asc'">{{l}}</li>
</ul>
<table border="1">
  <tr><th>ID</th><th>Name</th><th>Model</th><th>Price</th></tr>
  <tr *ngFor="let p of products | mysort:sort">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.model}}</td>
    <td>{{p.price}}</td>
  </tr>
</table>
<select [(ngModel)]="sort">
  <option value="asc">Low-High</option>
  <option value="desc">High-Low</option>
</select><br><br>
<input type="search" [(ngModel)]="slang" />
<ul>
  <li *ngFor="let l of languages | filter:slang">{{l}}</li>
</ul>